extends layout

block header
  link(rel='stylesheet', href='//josex2r.github.io/jQuery-SlotMachine/dist/jquery.slotmachine.css')

block content
  div
    h1.center #{title}

    div.clear

    div.slotContainer.center
      div.slotMachine#slotMachine
        div.value#placeholder PRESS BUTTON TO PLAY
        each val in topics
          div.value= val

    div.clear

    div.button.center#startButton
      span 🎰

  script(src="/static/js/slotmachine.min.js")

  script.
    document.addEventListener("DOMContentLoaded", function(event) {
      var slotMachineEl = document.getElementById("slotMachine");
      var startButton = document.getElementById("startButton");
      var placeholderEl = document.getElementById("placeholder");

      var machine = new SlotMachine(slotMachineEl, {
        active: 0,
        delay: 450,
        //auto: 1500,
        randomize() {
          return this.random;
        }
      });
      
      startButton.addEventListener('click', () => {
        startButton.classList.add("active");
        if (placeholderEl) {
          placeholderEl.parentNode.removeChild(placeholderEl);
          placeholderEl = null;
        }
        machine.shuffle(function() {startButton.classList.remove("active")});
      });
    });
