html {
    position: relative;
}
body{
	font-family: mono;
	background-color:#f3f3f3;
}
.container{
	background-color:white;
	max-width:900px;
  min-height: 900px;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	width:60%;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
ul {
	list-style:none;
}
.slotMachine{
}
.slotContainer{
	overflow: hidden;

	color: darkgray;

	margin-top:1em;
	font-size:1.7em;
	height: 2.3em;
	line-height: 1.8em;
	border: 2px solid gray;
	border-radius:4px;
	max-width: 60%;
}
.slotMachineContainer div{
	padding:.2em;
  height: 4em;
}
.slotMachineContainer div:nth-child(even) {
    background: darkgray;
    color:#efefef;
}

.button{
	font-size: 9em;
	cursor: pointer;
	width: 1em;
}
.button.active{
	color:red;
}